{% extends 'base_dashboard.html' %}
{% load static %}

{% block navs %}

<div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
</div>

<div class="col-lg-12 col-xl-12">
    <div class="mb-3">
        <h3>
            Profissionais
            <button class="btn btn-save btn-sm float-end" type="button" 
                onclick="criarModalProfissional('{% url 'criar_profissional' %}')">
                + Adicionar
            </button>
        </h3>
    </div>
    
     <!--Pesquisa-->
     <form class="d-flex align-items-center mb-3" role="search">
        {% csrf_token %}
        <input class="form-control me-2" type="text" placeholder="Pesquisar" autocomplete="off"
        name="profissional" value="{{ request.GET.profissional }}">
        <button class="btn btn-save btn-sm m-1" type="submit"><i class="bi bi-search"></i></button>
        <a class="btn btn-info btn-sm m-1" href="{% url 'profissionais' %}"><i class="bi bi-x-square"></i></a>
    </form> 

    <div class="card info-card customers-card">
      <div class="p-3">
            <div class="col">              
                <table class="table table-hover ">
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th></th>
                    </tr>
                    {% for profissional in  object_list %}
                    <tr>
                        <td>{{ profissional.nome }}</td>
                        <td>{{ profissional.telefone }}</td>
                        <td>
                            <div class="dropdown">
                                <a  href="#" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>  
                                </a>
                                <div class="dropdown-menu dropdown-menu-end ">
                                    <button type="button" class="dropdown-item d-flex align-items-center"
                                        onclick="editarModalProfissional('{% url 'editar_profissional' profissional.pk %}')" >
                                        <i class="bi bi-pencil-square"></i>
                                        <span>Editar</span>
                                    </button>
                                    <hr class="dropdown-divider">
                                    <button type="button" class="dropdown-item d-flex align-items-center"
                                        onclick="deletarModalProfissional('{% url 'excluir_profissional' profissional.pk %}')" >
                                        <i class="bi bi-trash"></i>
                                        <span>Excluir</span>
                                    </button>
                                </div>
                            </div>                            
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nuhum campo cadastrado</td>
                    </tr>
                    {% endfor %}
                </table> 
            </div> 
        </div>        
    </div>
</div>

<div class="modal fade" id="criar-profissional"  role="dialog" aria-hidden="true">
 
</div>

<div class="modal fade" id="editar-profissional"  role="dialog" aria-hidden="true">
 
</div>

<div class="modal fade" id="deletar-profissional"  role="dialog" aria-hidden="true">
 
</div>

{% endblock %}

{% block script %}

<script>

    function criarModalProfissional(url){
        $('#criar-profissional').load(url, function(){
            $(this).modal('show');
        });
    }

    function editarModalProfissional(url){
        $('#editar-profissional').load(url, function(){
            $(this).modal('show');
        });
    }

    function deletarModalProfissional(url){
        $('#deletar-profissional').load(url, function(){
            $(this).modal('show');
        });
    }

    
</script>
    
{% endblock%}


