{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block conteudo %}
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="card info-card customers-card p-3">
                <h1>Senha Alterada com Sucesso</h1>
                <p>Volte ao site para efetuar o login</p>
                <a href="{% url 'index' %}" class="btn btn-info btn-sm mt-3">Voltar para o site</a>
            </div>
        </section>
    </div>
{% endblock %}
