{% extends 'base.html' %}
{% load static %}


{% load crispy_forms_tags %}

{% load i18n %}


{% block conteudo %}

    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <a href="{% url 'index' %}">Barbeiros</a>
            <h5>Redefinição de Senha</h5>
            {% if user.is_authenticated %}
                <p>
                    Olá, <strong>{{ request.user.barbearia }}</strong>,
                    você ja entrou com o Email: <strong>{{ request.user }}</strong>
                </p>
            {% endif %}
            <div class="card info-card customers-card p-3">
                <p>Insira o seu endereço de e-mail abaixo, e lhe enviaremos um e-mail permitindo que a redefina.</p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-save btn-sm mt-3" />
                </form>
            </div>
        </section>
    </div>
    {% endblock %}
