{% extends 'base.html' %}
{% load static %}


{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block conteudo%}
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <a href="{% url 'index' %}">Barbeiros</a>
            <h5>Redefinição de Senha</h5>
            
            <div class="card info-card customers-card p-3">
                {% if user.is_authenticated %}
                <p>Olá <strong>{{ request.user.barbearia }}</strong>.</p>
                {% endif %}
                <p>Nós lhe enviamos um e-mail. Caso não tenha recebido, verifique sua caixa de spam. Caso contrário, entre em contato conosco se você não recebê-lo em alguns minutos.</p>
            </div>
        </section>
    </div>
{% endblock %}
