
#div_id_tempo {
  padding-top: 10px;
}
  
#div_id_preco {
  padding-top: 10px;
}


.btn-save {
  color: #fff;
  background-color: #04d484;
  }

.btn-excluir {
  color: #fff;
  background-color: #be4040;
}

/* Modal Excluir*/
.i-exclame {
  color: #f57439;
  font-size: 180px;
  padding-left: 120px;
  }

.h2-modal {
  text-align: center;
}

.p-modal {
  text-align: center;
}

.b-save {
  color: #fff;
  background-color: #04d484;
  width: 200px;
  height: 40px
  }

.b-excluir {
  color: #fff;
  background-color: #be4040;
  width: 200px;
  height: 40px;
}


/*hoario funcionamento*/

.bi-sm {
  font-size: 12px;
  text-decoration: none;
}


/* Form cadastrar serviços */

.form-control {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}
