
#div_id_tempo {
  padding-top: 10px;
}
  
#div_id_preco {
  padding-top: 10px;
}


.btn-save {
  color: #fff;
  background-color: #04d484;
  }

.btn-excluir {
  color: #fff;
  background-color: #be4040;
}

/* Modal Excluir*/
.i-exclame {
  color: #f57439;
  font-size: 180px;
  padding-left: 120px;
  }

.h2-modal {
  text-align: center;
}

.p-modal {
  text-align: center;
}

.b-save {
  color: #fff;
  background-color: #04d484;
  width: 200px;
  height: 40px
  }

.b-excluir {
  color: #fff;
  background-color: #be4040;
  width: 200px;
  height: 40px;
}


/*hoario funcionamento*/

.bi-sm {
  font-size: 12px;
  text-decoration: none;
}


/* Form cadastrar  */

.form-control {
  margin: 0.3rem 0;
  padding: 0.3rem 0.5rem;
 
  border-bottom: 1px solid #eeeeee75;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #00000002;
}

.form-control:hover {
  background-color: #eeeeee75;
}

.form-control:focus-visible {
  outline: 0.5px solid #8d8d8d;
}

.text-muted {
  font-size: 10px;
  margin-bottom: 1px;
  color: #6c757d!important;
}


textarea.form-control {
    max-height: 100px;
}