{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<nav class="navbar navbar-expand navbar-light bg-white topbar  static-top shadow-sm p-3  bg-body rounded">
    <ul class="navbar-nav ml-auto">
        
    </ul> 
</nav>
<div>
    <div class="row">
        <div class="col">
            <div id="wrapper">
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                    
                </ul>
            </div>
        </div>
        <div class="col">
            <h1>col</h1>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock %}