{% load static %}

{% block navs %}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ titulo }}: {{ object }}</h2>
      </div>
      <form action="{% url 'editar_produto' object.id %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">            
            <div class="row d-flex align-items-center ">
                <div class="col ">
                    <p>
                        {{ form.nome.label }}
                        {{ form.nome }}
                    </p>
                    <p>
                        {{ form.preco.label }}
                        {{ form.preco }}
                    </p>
                    <p>
                        {{ form.descricao.label }}
                        {{ form.descricao }}
                    </p>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        {% if object.imagem.thumbnail.url %}
                          <img src="{{ object.imagem.thumbnail.url }}" alt="" class="rounded-circle w-50"> 
                        {% else %}
                          <img src="{% static 'img/produto_defalt.jpg' %}" alt="" class="rounded-circle w-50"> 
                        {% endif %}  
                    </div>
                    <div class="row justify-content-center">
                        {{ form.imagem}}
                    </div>
                </div>          
            </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-info " data-bs-dismiss="modal">Voltar</button>
              <button type="submit" class="btn b-save btn-sm" >{{ btn }}</button>
          </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

    <script>
        
        $(document).ready(function(){
    
            $('#id_preco').mask("00.00", {placeholder: "R$"});
    
        });
    </script>
    
{% endblock%}