{% load static %}

{% block navs %}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ titulo }}: {{ object }}</h2>
      </div>
      <form action="{% url 'barbearia' object.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
              {{ form.as_p }}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Voltar</button>
              <button type="submit" class="btn b-save btn-sm" >{{ btn }}</button>
          </div>
      </form>
    </div>
  </div>


{% endblock %}

{% block script %}

<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>

    $(document).ready(function(){

        $('#id_cpf').mask('000.000.000-00');

            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
                spOptions = {
                    onKeyPress: function(val, e, field, options) {
                        field.mask(SPMaskBehavior.apply({}, arguments), options);
                    }
                    };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);
    });

</script>
    
{% endblock%}