{% extends 'base_dashboard.html' %}
{% load static %}

{% block navs %}
<div class="col-lg-12">
    {{ cal|safe }}
</div>

{% endblock %}

{% block script %}

<script>

    function modalEndereco(){
      const url = document.querySelector('#hendereco')
        $('#modal-endereco').load(url.value, function(){
            $(this).modal('show');
        });
    }

    function modalProfissional(){
      const url = document.querySelector('#hprofissional')
        $('#modal-profissional').load(url.value, function(){
            $(this).modal('show');
        });
    }

    function modalBarbearia(){
      const url = document.querySelector('#hbarbearia')
        $('#modal-barbearia').load(url.value, function(){
            $(this).modal('show');
        });
    }
   
</script>
    
{% endblock%}
