{% extends 'base_dashboard.html' %}
{% load static %}

{% block navs %}

<div id="content ">
    <div class="container-fluid">
        <div class="mx-3 pb-3">
            <h5>
                Serviços
                <a href="{% url 'criar_cliente' %}" class="btn btn-success btn-sm float-right">+ Adicionar</a>
            </h5>
            
        </div>    
        <table class="table table-hover mx-3">
            <tr>
                <th>Clientes</th>
                <th>Telefone</th>
                <th>Opções</th>
            </tr>
            {% for clientes in  object_list %}
            <tr>
                <td>{{ clientes.nome }}</td>
                <td>{{ clientes.telefone }}</td>
                <td>
                    <a href="{% url 'editar_cliente' clientes.pk %}" class="btn btn-info btn-sm">Editar</a>
                    <a href="{% url 'excluir_cliente' clientes.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nuhum campo cadastrado</td>
            </tr>
            {% endfor %}
        </table>        
    </div>
</div>

{% endblock %}