{% extends 'base_dashboard.html' %}
{% load static %}

{% block navs %}
<div class="col-lg-12">
    <!--Dados Barbearia-->
    <div class="row">
      <div class="col-xxl-12 col-md-12">
        <div class="card info-card sales-card ">
          <div class="card-text d-flex align-items-center">
            <div>
              <img class="img-rockt" src="{% static 'img/rockt.png' %}" alt="imagem_rockt">
            </div>
            <div class="card card-info-conf">
              <h3>Configurações Iniciais</h3>
              <p>Olá <strong>{{ request.user.barbearia }}</strong>.</p>
              <p>Siga as instruções abaixo e configure sua Empresa!</p>
              <p class="small">A qualquer momento caso necessário, conte com nossa equipe de Suporte :)</p>
              <div class="d-flex align-items-center">
                  <a href="#" class="btn btn-light"><i class="bi bi-headset"></i>Suporte Disponível</a>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  <!--Dados Barbearia-->
  <div class="row">
    <div class="col-xxl-12 col-md-12">
      <div class="card info-card sales-card">
        <div class="card-body d-flex align-items-center" onclick="modalBarbearia()" 
        style="cursor: pointer;">
          {% if barbearia %}
          <i class="check bi bi-check-circle-fill"></i>
          {% else %}
          <i class="ico bi bi-shop"></i>
          {% endif %}
          <h5 class="card-title" >
            Dados Barbearia
          </h5>
          <input type="hidden" value="{% url 'barbearia' request.user.barbearia.pk %}" id="hbarbearia">
        </div>
      </div>
    </div> 
  </div>
  <!--Endereço-->
  <div class="row">
    <div class="col-xxl-12 col-md-12">
      <div class="card info-card sales-card">
        <div class="card-body d-flex align-items-center" onclick="modalEndereco()"
        style="cursor: pointer;">
          {% if endereco %}
            <i class="check bi bi-check-circle-fill"></i>
            <input type="hidden" value="{% url 'editar_endereco' request.user.barbearia.endereco.pk  %}" id="hendereco">
          {% else %}
            <i class="ico bi bi-map"></i>
            <input type="hidden" value="{% url 'criar_endereco' %}" id="hendereco">
          {% endif %}
          <h5 class="card-title" >
            Endereço
          </h5>
        </div>
      </div>
    </div> 
  </div>
  <!--horario Atendimeto-->
  <div class="row">
    <div class="col-xxl-12 col-md-12">
      <div class="card info-card sales-card">
        <div class="card-body d-flex align-items-center" onclick="window.location.href=$('#hcriarhorario').val()" 
        style="cursor: pointer;">
          {% if horario %}
            <i class="check bi bi-check-circle-fill"></i>
          {% else %}
            <i class="ico bi bi-alarm"></i>
          {% endif %}
          <h5 class="card-title">
            Horario Atendimento
          </h5>
          <input type="hidden" value="{% url 'criar_horario' %}" id="hcriarhorario">
        </div>
      </div>
    </div> 
  </div>
  <!--Cadastro Profissionais-->
  <div class="row">
    <div class="col-xxl-12 col-md-12">
      <div class="card info-card sales-card">
        <div class="card-body d-flex align-items-center"  onclick="modalProfissional()" 
        style="cursor: pointer;">
          {% if profissionais %}
            <i class="check bi bi-check-circle-fill"></i>
          {% else %}
            <i class="ico bi bi-person-workspace"></i>
          {% endif %}
          <h5 class="card-title">
            Cadastro Profissionais
          </h5>
          <input type="hidden" value="{% url 'criar_profissional' %}" id="hprofissional">
        </div>
      </div>
    </div> 
  </div>    
  <div class="row">
    <!-- Novos Clientes -->
    <div class="col-xxl-4 col-md-4">
      <div class="card-b info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Novos Clientes</h5>
          <p class="card-p">Ultimos 30 dias.</p>
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <h6>{{ clientes }}</h6>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Novos Serviços -->
    <div class="col-xxl-4 col-md-4">
      <div class="card-b info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Atendimentos Realizados</h5>
          <p class="card-p">Ultimos 30 dias.</p>
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <h6>{{ antendimento30Dias }}</h6>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Novos Produtos -->
    <div class="col-xxl-4 col-md-4">
      <div class="card-b info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Produtos Vendidos</h5>
          <p class="card-p">Ultimos 30 dias.</p>
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <h6>0</h6>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="row">
    <!-- Contas pagar -->
    <div class="col-xxl-4 col-md-4">
      <div class="card-b info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Contas a Pagar</h5>
          <div class="row d-flex align-items-center">
            <div class="col">
              <p class="card-p">Total de contas.</p>
              <h6>{{ contaPagar }}</h6>
            </div>    
            <div class="col">
              <p class="card-p">Valor total.</p>
              <h6>{{ totalPagar }}</h6>
            </div>         
          </div>
        </div>
      </div>
    </div>
    <!-- Contas receberr -->
    <div class="col-xxl-4 col-md-4">
      <div class="card-b info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Contas a Receber</h5>
          <div class="row d-flex align-items-center">
            <div class="col">
              <p class="card-p">Total de contas.</p>
              <h6>{{ contaReceber }}</h6>
            </div>    
            <div class="col">
              <p class="card-p">Valor total.</p>
              <h6>{{ totalReceber }}</h6>
            </div>         
          </div>
        </div>
      </div>
    </div>
    <!-- saldo entre contas -->
    <div class="col-xxl-4 col-md-4">
      <div class="card-b info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Saldo</h5>
          <div class="row d-flex align-items-center">
            <div class="col">
              <p class="card-p">Saldo entre Contas a Receber e a Pagar.</p>
              <h6>{{ saldo }}</h6>
            </div>            
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <!-- visão geral -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Visão Geral</h5>
            <div class="news">
              <div class="post-item d-flex align-items-center justify-content-between">
                <h1 class="post-item-h1">{{ totalClientes }}</h1>             
                <h4 class="post-item-h4">Total Clientes</h4>
                <i class="post-item-icon bi bi-people"></i>              
              </div>
            </div>
            <div class="news">
              <div class="post-item d-flex align-items-center">
                <h1 class="post-item-h1">{{ totalAgendamento }}</h1>              
                <h4 class="post-item-h4">Total Agendamentos</h4>
                <i class="post-item-icon bi bi-calendar4-week"></i>             
              </div>
            </div>
            <div class="news">
              <div class="post-item d-flex align-items-center">
                <h1 class="post-item-h1">{{ totalAtendimento }}</h1>              
                <h4 class="post-item-h4">Total Atendimentos</h4>
                <i class="post-item-icon bi bi-scissors"></i>              
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <img src="" alt=""> {{ graphAtendimentoData }}
          </div>
        </div>  
      </div>
  </div>
</div>
<div class="modal fade" id="modal-endereco"  role="dialog" aria-hidden="true">
 
</div>
<div class="modal fade" id="modal-profissional"  role="dialog" aria-hidden="true">
 
</div>
<div class="modal fade" id="modal-barbearia"  role="dialog" aria-hidden="true">
 
</div>
{% endblock %}

{% block script %}

<script>

    function modalEndereco(){
      const url = document.querySelector('#hendereco')
        $('#modal-endereco').load(url.value, function(){
            $(this).modal('show');
        });
    }

    function modalProfissional(){
      const url = document.querySelector('#hprofissional')
        $('#modal-profissional').load(url.value, function(){
            $(this).modal('show');
        });
    }

    function modalBarbearia(){
      const url = document.querySelector('#hbarbearia')
        $('#modal-barbearia').load(url.value, function(){
            $(this).modal('show');
        });
    }
   
</script>
    
{% endblock%}
