
{% load static %}


<form method="post" action="">
  {% csrf_token %}

  <div class="modal-body">
    <h3 class="modal-title">{{ titulo }}</h3>
    <p>Informações Basicas</p>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Voltar</button>
    <button type="submit" class="btn b-save btn-sm" >{{ btn }}</button>
  </div>

</form>


{% block script %}

    <script src="{% static 'js/jquery.mask.min.js' %}"></script>

    <script>
        
        $(document).ready(function(){
    
            $('#id_preco').mask("00.00", {placeholder: "R$"});
    
        });
    </script>
    
{% endblock%}
