{% extends 'base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navs %}
<div class="col-lg-14">
    <div class="row">
        <div class="col-xxl-6 col-md-6">
            <div class="card info-card sales-card">
                <div class="p-3">
                    <div class="col">
                        <h4>{{ titulo }}</h4>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md mb-2">
                                    {{ form.dias_da_semana|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    {{ form.horario_inicio|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.horario_saida|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    {{ form.inicio_intervalo|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.final_intervalo|as_crispy_field }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-save btn-sm col-md mt-3">{{ btn }}</button>
                            <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm mt-3">Voltar</a>
                        </form>
                    </div>
                </div>
            </div> 
        </div> 
        <div class="col-xxl-6 col-md-6">
            <div class="card info-card sales-card">
                <div class="p-1">
                    <div class="col">
                        <table class="table">
                            <tr>
                                <th>Dias da Semana</th>
                                <th>Entrada</th>
                                <th>Saída</th>
                                <th>Intervalo</th>
                                <th></th>
                            </tr>
                            {% for d in dias %}
                            <tr>
                                <td>{{ d.dias_da_semana }}</td>
                                <td>{{ d.horario_inicio }}</td>
                                <td>{{ d.horario_saida }}</td>
                                <td>{{ d.inicio_intervalo }} - {{ d.final_intervalo }} </td>
                                <td>
                                    <a href="{% url 'editar_horario' d.pk %}" ><i class="bi bi-pencil-square bi-sm"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Nunhum Horário Cadastrado</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div> 
            </div>
        </div>              
    <div> 
</div>


{% endblock %}
{% block script %}

<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>

    $(document).ready(function(){

        $('#id_horario_inicio').mask('00:00');
        $('#id_horario_saida').mask('00:00');
        $('#id_inicio_intervalo').mask('00:00');
        $('#id_final_intervalo').mask('00:00');

    });

</script>
    
{% endblock %}