{% extends 'base_dashboard.html' %}
{% load static %}

{% block navs %}

<div class="col-lg-12 col-xl-12">
    <div class="m-3">
        <h5>
            Produtos
            <a href="{% url 'criar_produto' %}" class="btn btn-save btn-sm float-end">+ Adicionar</a>
        </h5>
    </div>
      <!--Pesquisa-->
      <div class="">
        <form class="form-inline" method="GET" action="?">
            {% csrf_token %}
            <input class="form-inline" type="text" name="produto" placeholder="Pesquisar"
            value="{{ request.GET.produto}}" id="" autocomplete="off">
            <button type="submit"><i class="bi bi-search my-2 my-sm-0"></i></button>
            <a href="{% url 'produtos' %}">Limpar</a>
        </form>
    </div>
    
    <div class="card info-card customers-card">
      <div class="p-3">
            <div class="col">              
                <table class="table table-hover ">
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Preço R$</th>
                    
                    </tr>
                    {% for produto in  object_list %}
                    <tr onclick="window.location.href=$('#h{{ produto.pk }}').val();" style="cursor: pointer;" >
                        <td> <img src="{{ produto.imagem.thumb.url }}" alt=""></td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.preco }}</td>
                        <td>
                            <input type="hidden" value="{% url 'editar_produto' produto.pk %}" id="h{{ produto.pk }}">
                            <!--<a href="javascript:void(0);" onclick="exabreModalWxcluir($('#h{{ servicos.pk }}', 'teste');" class="btn btn-danger btn-sm">Excluir</a> -->
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nuhum campo cadastrado</td>
                    </tr>
                    {% endfor %}
                </table> 
            </div> 
        </div>        
    </div>
</div>

{% endblock %}

