{% load static %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">{{ titulo }}</h2>
    </div>
    <form action="{% url 'criar_profissional' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row d-flex align-items-center">
            <div class="col">
                <p>
                    {{ form.nome.label }}
                    {{ form.nome }}
                </p>
                <p>
                    {{ form.apelido.label }}
                    {{ form.apelido }}
                </p>
                <p>
                  {{ form.telefone.label }}
                  {{ form.telefone }}
                </p>
                <p>
                  {{ form.cpf.label }}
                  {{ form.cpf }}
                </p>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                  <img src="{% static 'img/user_defalt.jpg' %}" alt="" class="rounded-circle w-50"> 
                </div>
                <div class="row justify-content-center">
                    {{ form.imagem }}
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info " data-bs-dismiss="modal">Voltar</button>
            <button type="submit" class="btn b-save btn-sm" >{{ btn }}</button>
        </div>
      </form>
  </div>
</div>


{% block script %}

<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>

    $(document).ready(function(){

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
                spOptions = {
                    onKeyPress: function(val, e, field, options) {
                        field.mask(SPMaskBehavior.apply({}, arguments), options);
                    }
                 };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);

    });

</script>

{% endblock %}