{% load static %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">{{ titulo }}</h2>
    </div>
    <form action="{% url 'criar_fornecedor' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row mb-2">
            <div class="col-md-6">
                {{ form.nome.label }}
                {{ form.nome }}
            </div>
            <div class="col-md-6">
                {{ form.email.label }}
                {{ form.email }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
                {{ form.celular.label }}
                {{ form.celular }}
            </div>
            <div class="col-md-6">
                {{ form.telefone.label }}
                {{ form.telefone }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
                {{ form.inscricao.label }}
                {{ form.inscricao }}
            </div>
            <div class="col-md-6">
                {{ form.cnpj.label }}
                {{ form.cnpj }}
            </div>
          </div>
          <div>
            <h4>Endereço</h4>
          </div>
          <div class="row mb-2">
            <div class="col-md-4">
                {{ form.cep.label }}
                {{ form.cep }}
            </div>
            <div class="col-md-6">
                {{ form.rua.label }}
                {{ form.rua }}
            </div>
            <div class="col-md-2">
                {{ form.numero.label }}
                {{ form.numero }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
                {{ form.complemento.label }}
                {{ form.complemento }}
            </div>
            <div class="col-md-6">
                {{ form.bairro.label }}
                {{ form.bairro }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
                {{ form.cidade.label }}
                {{ form.cidade }}
            </div>
            <div class="col-md-6">
                {{ form.estado.label }}
                {{ form.estado }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info " data-bs-dismiss="modal">Voltar</button>
            <button type="submit" class="btn b-save btn-sm" >{{ btn }}</button>
        </div>
    </form>
  </div>
</div>
